.App {
  display:flex;
  flex-direction:column;
  height: 100dvh;
  overflow: hidden;
  position: relative;
  transition: background-color 1s;
}
.App.App--inactive {
  background-color: #111111;
}
.App.App--active {
  background-color: #050505;
}
.App.App--unauthenticated {
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overscroll-behavior: none;
}

.App .App-unauthenticated {
  width: 300px;
  background-color: #333;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  gap: 16px;
}

.App .feed {
  width:100%;
  height:100%;
  position:absolute;
  top:0px;
  left:0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .feed.feed--idle {
  filter: grayscale(100%);
  transition: filter 2s;
}
.App .feed > canvas {
  object-fit: contain;  
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.App #controls {
  flex:1;
  position:relative;
}
.App #controls .zone {
  position:absolute;
  display: flex;
  align-items: center;
}
.App #controls #drive {
  left:0px;
  top:0px;
  width:50%;
  height:100%;
  justify-content: flex-start;
}
.App #controls #steer {
  right:0px;
  top:0px;
  width:50%;
  height:100%;
  justify-content: flex-end;
}
.App #controls .gesture {
  width: 150px;
  height: 150px;
  animation: smooth-blink 1s infinite;
}
.App #controls .gesture.gesture-alignCenter {
  align-self: center;
  margin-top: 50px;
}
.App #controls .gesture.gesture-alignBottom {
  align-self: flex-end;
  margin-bottom: 30px;
}
.App #controls .gesture > img {
  max-width: 100%;
  max-height: 100%;
  display: none;
}
.App #controls .gesture.gesture--visible > img {
  display: block;
}

.App .settings {
  position: absolute;
  top: 0;
  padding: 6px;
}

.App .settings.settings-left {
  left: 0;
}

.App .settings.settings-right {
  right: 0;
}

.App .settings .album-button {
  position: relative;
}

.App .album {
  width: 100%;
  height: calc(100% - 56px);
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 6px;
  padding-right: 6px;
}

.App .album-scroll {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20000;
  cursor: move;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.photo-inner {
  position: relative;
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-img {
  height: 100dvh;
}

.photo-close {
  position: absolute;
  top: 6px;
  left: 50%;
  margin-left: -18px;
}

.photo-delete {
  position: absolute;
  bottom: 6px;
  left: 50%;
  margin-left: -18px;
}

.thumb-img {
  border-radius: 0.25rem;
  border: 1px solid #fff;
  cursor: pointer;
}

.photoTaken {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
}

.photoTaken > svg {
  width: 200px;
  height: 200px;
}

.feedNotification {
  position: absolute;
  width: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -45px;
  background-color: rgba(70, 70, 70, 0.7);
  border-radius: 7px;
  border: 1px solid #999;
  color: #fff;
}
.feedNotification > p {
  padding-left: 30px;
  padding-right: 30px;
}

@keyframes smooth-blink {
  0% {
    opacity: 0.2; /* Fully opaque at the start */
  }
  50% {
    opacity: 0.05; /* Almost transparent halfway through */
  }
  100% {
    opacity: 0.2; /* Fully opaque at the end */
  }
}

.App.App--unauthenticated .feed {
  display: none;
}

.App.App--unauthenticated #controls {
  display: none;
}

.App.App--unauthenticated .settings {
  display: none;
}